<p id="notice"><%= notice %></p>

<div class="col-xs-12 col-sm-6 col-md-8">
  <% @posts.each do |post| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= post.title %> by <%= post.username %></h3>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="panel-body">
    <%= post.description %>
  </div>
</div>
 <% end %>
 <br>
</div>
